* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
  }

  body {
    height: calc(100vh + 12em);
    width: 100vw;
    display: grid;
    grid-template-columns: 0.8fr 3fr;
    grid-template-rows: 0.5fr 0.7fr 4fr;
  }

  .sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    padding: 2.5rem;
    padding-top: 0.2rem;
    background-color: #6366f1;
    color: white;
    font-weight: 600;
  }

  /* Sidebar */

  .sidebar li {
    padding: 7px;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo img {
    height: 35px;
  }

  .sidebar p{
    display: flex;
    align-items: center;
  }

  .sidebar img {
    padding-right: 5px;
  }
  
  .second {
    padding-top: 25px;
  }

  /* Header */

  .header {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1.2fr 0.3fr;
    grid-template-rows: 0.5fr 1fr;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .search-container {
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .search-container input {
    display: flex;
    flex: 1;
    padding-right: 10rem;
    border-radius: 1rem;
    border-style: solid
  }

  .profile-container {
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-left: 17vw;
    margin-right: 3vw;
  }

  .profile-container p {
    font-weight: 600;
  }

  .welcome-container {
    display: grid;
    grid-template-columns: 0.3fr 1.7fr;
    grid-template-rows: 1fr 1fr;
    padding: 1rem;
  }

  .welcome-container img {
    grid-row: 1 / 3;
    margin-right: 1rem;
  }

  .welcome-container p {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    align-items: flex-end;
    margin-bottom: 0;
    font-weight: 600;
  }

  .welcome-container h1 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin: 0;
  }

  .buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .buttons-container button {
    height: 2.4rem;
    width: 7rem;
    border-style: solid;
    border: none;
    background-color: #6366f1;
    color: white;
    border-radius: 22px;
  }

  .profile-picture {
    width: 3rem;
    height: 3rem;
    border-radius: 4rem;
  }

  .profile-picture-big {
    width: 6rem;
    height: 6rem;
    border-radius: 4rem;
  }

/* Main content */


/* main */
  .main {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
    display: grid;
    padding: 1rem 2rem 1rem;
    grid-template-columns: 2.3fr 1fr;
    grid-template-rows: 0.5fr;
    background-color: #c7d2fe;
  }

  .main div {
    padding: 0.7rem;
    border-radius: 0.7rem;
  }

  .main p {
    font-size: smaller;
    color: rgb(96, 96, 96);
  }

  .projects-container {
    grid-column: 1 / 2;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
  }

  .projects-container > div {
    background-color: white;
    border-left: 15px solid #3730a3;
  }

  .project {
    display: grid;
    grid-template-rows: 3rf 1fr;
  }

  .project h4 {
    margin: 10px 0 0;
  }

  .project p {
    margin: 4px 0 4px;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
  }

  .actions img {
    height: 24px;
    width: 24px;
  }

  /* announcements trending*/
  .announcements-trending {
    grid-column: 2 / 3;
    display: grid;
    grid-gap: 2rem;
    grid-template-rows: 0.7fr 0.7fr; 
  }

  .announcements-trending div {
    background-color: white;
  }

  .announcements div {
    padding: 0.5rem 0 0.5rem ;
    margin: 0 0.5rem 0;
    border-bottom: 2px solid grey;
    border-radius: 0;
  }

  .announcements div {
    padding: 0.5rem 0 0.5rem ;
    margin: 0 0.5rem 0;
    border-bottom: 2px solid grey;
    border-radius: 0;
  }

  .announcements div:nth-child(3) {
    padding: 0.5rem 0 0.5rem ;
    margin: 0 0.5rem 0;
    border-bottom: none;
  }

  .announcements h6{
    margin: 0 0 1rem;
  }

  .announcements p {
    margin: 0 0 0.2rem;
  }

  .trending {
    display: flex;
    flex-direction: column;
  }

  .trend {
    display: grid;
    grid-template-columns: 0.4fr 1.6fr;
    grid-template-rows: 1fr 1fr;
  }

  .trend img {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    align-self: center;
  }

  .trend p {
    margin: 0;
  }

  .trend p:nth-child(2) {
    font-weight: 600;
    color: black;
  }

  .user-name {
    align-self: flex-end;
  }
